
@media screen and (max-width:1200px) {
    .menu-container ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0px;
        right: -400px;
        height: 100vh;
        width: 300px;
        max-width: 80vw;
        background-color: white;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 1);
        padding: 2rem;
    }

    .menu-container ul.active {
        display: flex;
        right: 0px;
    }
    .menu-container ul.false{
        display: none;
        right: -400px;
        overflow: hidden;
    }
    #mobile {
        display: block;
    }

    .menu-container ul {
        gap: 2rem;
    }
    .close-bar {
        width: 100%;
        /* border: 2px solid blue; */
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        place-items: center;
        font-size: 1.5rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid lightgray
    }
    .tab-hidden {
       display: block;
       overflow: hidden;
    }
    
}
